.standard-button{
  background-color: rgb(32,33,36) !important;
  color: white !important;
}

.standard-fbutton{
  background-color: rgb(32,33,36) !important;
  color: white !important;
}

.standard-background{
  background-color: #303134 !important;
  color: white !important;
}